:root {
  --bgColor: #1d2021;
  --textColor: #D9D9D9;
  --linkColor: var(--textColor);
  --textColorHover: #b3c9d3;
}


@font-face {
  font-family: "JetBrains Mono";
  src: url("../fonts/woff/JetBrainsMono-Regular.woff") format("woff"), url("../fonts/woff2/JetBrainsMono-Regular.woff2") format("woff2"); }
.jetbrains-mono, body {
  font-family: "JetBrains Mono"; }

body {
  font-family: "JetBrains Mono", monospace;
  font-size: 16px;
  background: var(--bgColor);
  color: var(--textColor);
  border: #8A8A8A;
  display:grid;
  /* align-items: center; */
  justify-content: center;
}

a {
  color: var(--linkColor);
  text-decoration: underline;
  margin-top: .2rem;
}

a > div:hover {
    color: var(--textColorHover)
}

.flex-container {
  display:grid;
  justify-content: center;
  flex-direction: column;
  width: 800px;
  margin-top: 5rem;
  outline-style: solid;
  outline-color: #b3c9d3;
  outline-width: 1px;
}

.flex-top-bar {
  display: flex;
  flex-direction: row;
}

.top-bar {
  margin-left: 0.2rem;
  margin-bottom: 0.1rem;

}

.flex-center {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}

.center-box {
  flex-direction: column;
  display: flex;
  margin: .75rem;
  padding-bottom: 1rem;
}

.flex-bottom-bar {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  color: var(--bgColor);
  background-color: var(--textColor);
}

.botton-bar {
  padding: 0.5rem;
}

.searchbox {
	color: #A6A6A6;
	border-radius: 14px;
	text-decoration: none;
	width: 50em;
	box-shadow: 5px 5px 3px rgba(27, 34, 38, 0.55);
	padding: 0.2em;
}
.search-form {
    width: 20rem;
    outline: transparent;
    outline-width:1px;
    border: thin;
    color: var(--textColor);
    background-color: var(--bgColor);
    font-family: "JetBrains Mono";
    padding-left: .4rem;
    caret-color: var(--textColor);
}


.tilde {
    color: #8A8A8A;
}
.titleimg {
    margin: auto;
    max-width: 90%;
    display: block;
}

