@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Anton');

body {
    background-color: #000000;
    margin: 0px;
}

.flex-top-bar {
  display: flex;
  flex-direction: row;
}

.top-bar {
  margin-left: 0.2rem;
  margin-bottom: 0.1rem;

}

.titleimg {
    max-width: 10%;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#clock {
    font-family: sans-serif;
    font-size: 4.0rem;
    font-family: "Anton";
    color: #fff;
    margin-bottom: .25em;
}

#current_date {
    font-family: sans-serif;
    font-size: 2.0rem;
    font-family: "Anton";
    color: #fff;
    margin-bottom: .25em;
}
#search {
    width: 100%;
    height: 100vh;
    background-color: #000000;
    display: none;
    position: absolute;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#search-field {
    width: 90%;
    padding: .75em 1em;
    box-sizing: border-box;
    background-color: #000000;
    border: solid 0px #000000;
    font-family: "Roboto Mono";
    font-size: 2rem;
    color: #f2f2f2;
    outline: none;
    border-radius: 3px;
    margin-bottom: 1em;
    text-align: center;
}

.search-form {
    width: 20rem;
    outline: transparent;
    outline-width:1px;
    border: thin;
    color: #f2f2f2;
    background-color: var(--bgColor);
    font-family: "Roboto Mono";
    padding-left: .4rem;
    caret-color: var(--textColor);
}
.weather-container {
    width: 30%;
    background-color: #000000;
    padding: 1em;
    border-radius: 3px;
    font-family: "Roboto Mono";
    font-size: 1.2rem;
    color: #fff;
    text-align: center;
}
.inline {
    display: inline-block;
}

.tilde {
    color: #8A8A8A;
}

.bookmark-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60%;
    margin: 1em 0em;
}

@media only screen and (max-width: 960px) {
    .container {
        height: auto;
    }
    #clock {
        margin-top: 1em;
    }
    .container > .bookmark-container {
        flex-direction: column;
        width: 60%;
    }
    .bookmark-container > .bookmark-set {
        width: auto;
        margin: 1em 0em;
    }
}

.bookmark-set{
    padding: 1em;
    background-color: #000000;
    border-radius: 3px;
    font-family: "Roboto Mono";
    font-size: .85rem;
    width: 25%;
    height: 16em;
    margin: 0em .5em;
}
.bookmark-inner-container {
    overflow-y: scroll;
    height: 80%;
    vertical-align: top;
}
.bookmark-title {
    font-family: "Roboto";
    font-size: 1rem;
    font-weight: 500;
    color: #ededed;
    margin: 0em 0em .35em 0em;
}

.bookmark-title2 {
    font-family: "Roboto Mono";
    font-size: .95rem;
    font-weight: 300;
    color: #ededed;
    margin: 0em 0em .35em 0em;
}
.bookmark {
    text-decoration: none;
    color: #8c8c8b;
    display:block;
    margin: .4em 0em;
}
.bookmark:hover {
    color: #fff;
}

#davoid {
	margin: 30px auto;
	position:relative;
	text-align:center;
	width:174px;
	height:143px;
}
#davoid .bg {
	margin:0 auto;
	position:relative;
	transition:transform 2s cubic-bezier(0.69, 0.22, 0.06, 1.17);
}

#davoid .fg.standard-mode {
    content: url(../images/void_fg_dark.png);
}

#davoid .fg {
	position:absolute;
	top:50%;
	left:0;
	right:0;
	margin:-15px -35px;
}
#davoid:hover .bg {
	transform:rotate(360deg);
	-moz-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
}
