@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Anton');

html {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #1d2021;
	height: 100%;
}

*, *:before, *:after {
	box-sizing: border-box;
	border-radius: 5px;
}

body {
	background-color: #28;
	border-radius: 14px;
	box-shadow: 0px 0px 5px 5px #00000077;
	flex-direction: column;
	min-height: 30ch;
	min-width: 20ww;
	padding: 2em;
}

body {}

body {}

body {}
p {
	margin: 0;
}
p span {
	color: #98971a;
	font-weight: bold;
}

p #logo {
	color: #60c0d0;
	vertical-align:-3px;
	font-size: 28px;
}

p #cursor {
	background-color: #add8e6;
	animation: blink 2s infinite;
}
@keyframes blink {
	0% { opacity: 0; }
	49% { opacity: 0; }
	50% { opacity: 1; }
}

a {
	color: inherit;
	text-decoration: none;
}

a:focus,
a:hover {
	font-weight: bold;
	color: #478588;
}

ul {
	list-style: none;
	margin: 1em 0;
	padding: 0;
}

.tree > .all {
	margin: 0;
	padding-left: 1rem;
}

.all {
	display: inline-block;
	vertical-align: top;
	margin-left: 1em;
	padding-left: 0.5em;
}

.all:nth-child(1) {
	margin-left: 0;
}

li {
	position: relative;
}
li::before, li::after {
	content: "";
	position: absolute;
	left: -0.75rem;
}
li::before {
	border-top: 2px solid #83a598;
	top: 0.45em;
	width: 0.5rem;
}
li::after {
	border-left: 2px solid #83a598;
	height: 100%;
	top: 0.2rem;
}
li:last-child::after {
	height: 0.3rem;
}

h3 {
	position: relative;
	color: #282828;
	border-radius: 5px;
}
h3::before, h3::after {
position: absolute;
	left: -0.75rem;
	content: ""
	border-radius: 5px;;
}
h3::before {
	border-top: 2px solid #83a598;
	top: 0.5rem;
	width: 0.6em;
	border-radius: 5px;
}
h3::after {
	border-left: 2px solid #83a598;
	height: 200%;
	top: 0.5rem;
	border-radius: 5px;
}

.linksbox {
	text-align: left;
	color: #a89984;
	opacity: .5;
	text-decoration: none;
	width: 8em;
	box-shadow: 0px 0px 4px 4px #00000077;
	padding: .2em;
	border-radius: 5px;
}

.box {
	text-align: center;
	color: #a89984;
	opacity: .5;
	text-decoration: none;
	width: relative;
	box-shadow: 0px 0px 2px 2px #000000;
	padding: .2em;
	border-radius: 5px;
	margin-bottom:8px;
}

.box1 {
	text-align: center;
	color: #a89984;
	opacity: .5;
	text-decoration: none;
	width: absolute;
	box-shadow: 0px 0px 2px 2px #000000;
	padding: .2em;
	border-radius: 5px;
}

.box2 {
	text-align: left;
	color: #a89984;
	opacity: .5;
	text-decoration: none;
	width: absolute;
	box-shadow: 0px 0px 2px 2px #000000;
	padding: .2em;
	border-radius: 5px;
}

.title {
	text-align: center;
	width: 8em;
	margin-left: 0.2em;
}

.math {
	background-color: #689d6a;
}

.\.\. {
	background-color: #928374;
}

.linux {
	background-color: #458588;
}

.self {
	background-color: #b16286;
}

.social {
	background-color: #d4b298;
}

.feed {
	background-color: #cc241d;
}

.reddit {
	background-color: #d65d0e;
}

input {
	background: none;
	color: #b16286;
	width: 17px;
	font: inherit;
	text-align: left;
	outline: none;
	border: 1px;
	border-radius: 0;
	transition: .1s; /* uwu */
}
textarea:focus,
input:focus {
	color: #d4be98;
	outline: none;
	width: 30%;
}

#davoid {
	margin: 30px auto;
	position:relative;
	text-align:center;
	width:174px;
	height:143px;
}
#davoid .bg {
	margin:0 auto;
	position:relative;
	transition:transform 2s cubic-bezier(0.69, 0.22, 0.06, 1.17);
}

#davoid .fg.standard-mode {
    content: url(../images/void_fg_dark.png);
}

#davoid .fg {
	position:absolute;
	top:50%;
	left:0;
	right:0;
	margin:-15px -35px;
}
#davoid:hover .bg {
	transform:rotate(360deg);
	-moz-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
}

.rotate {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }

.flex-top-bar {
  display: flex;
  flex-direction: row;
}

.searchbox {
	color: #A6A6A6;
	border-radius: 14px;
	text-decoration: none;
	width: 50em;
	box-shadow: 5px 5px 3px rgba(27, 34, 38, 0.55);
	padding: 0.2em;
	color: #a89984;
}
.search-form {
    width: 20rem;
    outline: transparent;
    outline-width:1px;
    border: thin;
    color: #a89984;
    background-color: var(--bgColor);
    font-family: "JetBrains Mono";
    padding-left: .4rem;
    caret-color: var(--textColor);
}

.tilde {
    color: #a89984;
}